nodered_solax.json
[{"id":"d91a9bbded7ca926","type":"mqtt in","z":"f29a197485edadfc","name":"","topic":"solax/Grid1Power","qos":"2","datatype":"auto-detect","broker":"e33c2130c591c3e2","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":260,"wires":[["85b9bf8c01d13f42","f81110bdb5c448f6"]]},{"id":"85b9bf8c01d13f42","type":"change","z":"f29a197485edadfc","name":"gridPowerL1","rules":[{"t":"set","p":"topic","pt":"msg","to":"gridPowerL1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":260,"wires":[["c395980e66c12520"]]},{"id":"bb6270be64bb85c4","type":"mqtt in","z":"f29a197485edadfc","name":"","topic":"solax/Grid2Power","qos":"2","datatype":"auto-detect","broker":"e33c2130c591c3e2","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":320,"wires":[["9ce5b16c6b574853","f81110bdb5c448f6"]]},{"id":"9ce5b16c6b574853","type":"change","z":"f29a197485edadfc","name":"gridPowerL2","rules":[{"t":"set","p":"topic","pt":"msg","to":"gridPowerL2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":320,"wires":[["c395980e66c12520"]]},{"id":"0bbd3ffd56438547","type":"mqtt in","z":"f29a197485edadfc","name":"","topic":"solax/Grid3Power","qos":"2","datatype":"auto-detect","broker":"e33c2130c591c3e2","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":380,"wires":[["6a46aa585470982b","f81110bdb5c448f6"]]},{"id":"6a46aa585470982b","type":"change","z":"f29a197485edadfc","name":"gridPowerL3","rules":[{"t":"set","p":"topic","pt":"msg","to":"gridPowerL3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":380,"wires":[["c395980e66c12520"]]},{"id":"c395980e66c12520","type":"join","z":"f29a197485edadfc","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"2","count":"10","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":670,"y":540,"wires":[["1231c30844686c12","2f12af7005064a8f"]]},{"id":"9e531031b9103ff0","type":"function","z":"f29a197485edadfc","name":"Modify payload (vojta/solax/#)","func":"msg.topic = \"vojta/solax/\" + msg.topic;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1130,"y":500,"wires":[["273e272473c61963"]]},{"id":"13e033a3fdfa7794","type":"change","z":"f29a197485edadfc","name":"gridPower","rules":[{"t":"set","p":"topic","pt":"msg","to":"gridPower","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":440,"wires":[["c395980e66c12520"]]},{"id":"fca42dc4ee49a35d","type":"mqtt in","z":"f29a197485edadfc","name":"","topic":"solax/BatteryPower","qos":"2","datatype":"auto-detect","broker":"e33c2130c591c3e2","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":520,"wires":[["006030e67c159052"]]},{"id":"006030e67c159052","type":"change","z":"f29a197485edadfc","name":"batteryPower","rules":[{"t":"set","p":"topic","pt":"msg","to":"batteryPower","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":520,"wires":[["c395980e66c12520"]]},{"id":"e308aebd51d02bd2","type":"mqtt in","z":"f29a197485edadfc","name":"","topic":"solax/BatteryRemainingCapacity","qos":"2","datatype":"auto-detect","broker":"e33c2130c591c3e2","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":560,"wires":[["689107f5a313f8bd"]]},{"id":"689107f5a313f8bd","type":"change","z":"f29a197485edadfc","name":"batterySOC","rules":[{"t":"set","p":"topic","pt":"msg","to":"batterySOC","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":560,"wires":[["c395980e66c12520"]]},{"id":"83fe9d2d3c282166","type":"mqtt in","z":"f29a197485edadfc","name":"","topic":"solax/Feed-inPower","qos":"2","datatype":"auto-detect","broker":"e33c2130c591c3e2","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":660,"wires":[["3e957908bb5f0416"]]},{"id":"3e957908bb5f0416","type":"change","z":"f29a197485edadfc","name":"onGridPower","rules":[{"t":"set","p":"topic","pt":"msg","to":"onGridPower","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":660,"wires":[["c395980e66c12520"]]},{"id":"09215c9b47082289","type":"comment","z":"f29a197485edadfc","name":"Napajeni ze site","info":"","x":120,"y":620,"wires":[]},{"id":"f1c4cf42cc81eb66","type":"comment","z":"f29a197485edadfc","name":"Baterie","info":"","x":90,"y":480,"wires":[]},{"id":"310f11d808677fe4","type":"comment","z":"f29a197485edadfc","name":"Spotreba domu","info":"","x":120,"y":220,"wires":[]},{"id":"434fbeb20cb58977","type":"mqtt in","z":"f29a197485edadfc","name":"","topic":"solax/PV1Power","qos":"2","datatype":"auto-detect","broker":"e33c2130c591c3e2","nl":false,"rap":true,"rh":0,"inputs":0,"x":120,"y":740,"wires":[["2a10cbc0bc616161"]]},{"id":"9640ab5518a9addc","type":"mqtt in","z":"f29a197485edadfc","name":"","topic":"solax/PV2Power","qos":"2","datatype":"auto-detect","broker":"e33c2130c591c3e2","nl":false,"rap":true,"rh":0,"inputs":0,"x":120,"y":780,"wires":[["6851582162c8628f"]]},{"id":"2a10cbc0bc616161","type":"change","z":"f29a197485edadfc","name":"fvePowerS1","rules":[{"t":"set","p":"topic","pt":"msg","to":"fvePowerS1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":740,"wires":[["c395980e66c12520","66477b4a5a9df7ba"]]},{"id":"6851582162c8628f","type":"change","z":"f29a197485edadfc","name":"fvePowerS2","rules":[{"t":"set","p":"topic","pt":"msg","to":"fvePowerS2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":780,"wires":[["c395980e66c12520","66477b4a5a9df7ba"]]},{"id":"66477b4a5a9df7ba","type":"join","z":"f29a197485edadfc","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"sum","reduceInit":"0","reduceInitType":"num","reduceFixup":"","x":70,"y":880,"wires":[["62b052aa8ed9939d"]]},{"id":"62b052aa8ed9939d","type":"change","z":"f29a197485edadfc","name":"fvePower","rules":[{"t":"set","p":"topic","pt":"msg","to":"fvePower","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":880,"wires":[["2ea59e606be2ae77"]]},{"id":"2ea59e606be2ae77","type":"function","z":"f29a197485edadfc","name":"sum","func":"// create a variable for the sum and initialize it\nlet sum = 0;\n\n// calculate sum using forEach() method\nmsg.payload.forEach(num => {\n    sum += num;\n})\n\nmsg.payload = sum;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":880,"wires":[["c395980e66c12520","948e8d13262ff1d3"]]},{"id":"b4528edba6109934","type":"split","z":"f29a197485edadfc","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":910,"y":500,"wires":[["9e531031b9103ff0"]]},{"id":"d0feba3c4ec81f02","type":"change","z":"f29a197485edadfc","name":"","rules":[{"t":"set","p":"solax","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":620,"wires":[[]]},{"id":"1231c30844686c12","type":"change","z":"f29a197485edadfc","name":"","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":775,"y":540,"wires":[["b4528edba6109934","459585265fa005bf","d0feba3c4ec81f02","2f12af7005064a8f"]],"icon":"node-red/arrow-in.svg","l":false},{"id":"459585265fa005bf","type":"trigger","z":"f29a197485edadfc","name":"","op1":"","op2":"{}","op1type":"pay","op2type":"json","duration":"5","extend":true,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":930,"y":540,"wires":[["d0feba3c4ec81f02"]]},{"id":"f81110bdb5c448f6","type":"join","z":"f29a197485edadfc","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"2","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":270,"y":440,"wires":[["706221770a2c4f5d"]]},{"id":"706221770a2c4f5d","type":"function","z":"f29a197485edadfc","name":"function 6","func":"// create a variable for the sum and initialize it\nlet sum = 0;\n\n// calculate sum using forEach() method\nmsg.payload.forEach(num => {\n    sum += num;\n})\n\nmsg.payload = sum;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":355,"y":440,"wires":[["13e033a3fdfa7794"]],"icon":"node-red/hash.svg","l":false},{"id":"2f12af7005064a8f","type":"debug","z":"f29a197485edadfc","name":"debug 28","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1100,"y":380,"wires":[]},{"id":"e33c2130c591c3e2","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","clientid":"nodered","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]